.Container{
    width: 60%;
    background: #F2F7F2;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    border-radius: 5px; 
    box-shadow: 5px 5px 10px #000;
}

    .Container--Body{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        padding: 40px;
    }

        .Card{
            padding: 15px;
            margin-top: 30px;
            width: 15rem;
            height: 20rem;
            border-radius: 10px;
            box-shadow: 1px 1px 10px #222222;  
            background: #FFF;
        }

            .Card--Image{
                width: 100%;
                height: 90%;
                border-radius: 10px;
                margin-bottom: 5px;
                opacity: 0.5;
                transition: all 800ms ease;
            }
            
                .Card--Image:hover{
                    transform: scale(1.03);
                    opacity: 1;
                    }

            .Card--Title{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }